<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PreBuild.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>XcodeBuildInLinuxExample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3895F2AE1D9B8BAE0021F0F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3895F2BB1D9C11B90021F0F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38F4ED891D4A95DD004D7D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38F4ED911D4A97FC004D7D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CliRunnable</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_DockerProcess</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Hello</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HelloSwift</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_S3Kit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SynchronousProcess</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_XcodeBuildInLinuxExample</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_XcodeBuildInLinuxExampleTestSuite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_XcodeBuildInLinuxExampleTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_XcodeHelperKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_xchelper</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
